@page
@model ContactModel
@{

}

<h3>Contact</h3>
<div class="rendered-form">
    <div class="">
    <div class="formbuilder-date form-group field-date-1702997427421">
        <label for="date-1702997427421" class="formbuilder-date-label">Date Field</label>
        <input type="date" class="form-control" name="date-1702997427421" access="false" id="date-1702997427421">
    </div>
    <div class="formbuilder-file form-group field-file-1702997422421">
        <label for="file-1702997422421" class="formbuilder-file-label">File Upload</label>
        <input type="file" class="form-control" name="file-1702997422421" access="false" multiple="false" id="file-1702997422421">
    </div>
    <div class="">
        <p access="false" id="control-1838523">Paragraph</p>
    </div>
    <div class="formbuilder-button form-group field-button-1702997437570">
        <button type="button" class="btn-default btn" name="button-1702997437570" access="false" style="default" id="button-1702997437570">Button</button>
    </div>
</div>